body {
    font-family: Abel, serif;
    font-style: normal;
    font-weight: normal;
}

.room {
    border: 4px solid #000000;
    border-radius: 19px;

    font-size: 64px;
    line-height: 26px;

    display: flex;
    align-items: center;
    text-align: center;
}